<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SNSRi Admin :: @ViewBag.Title</title>


    @Styles.Render("~/Content/admin")
    <link href="~/Content/angular-busy.css" rel="stylesheet" />

    <style>



    </style>
    @RenderSection("head", false)
</head>
<body class="" ng-app="app" ng-controller="mainController as vm">
    <div>
        <header class="app-bar fixed-top navy" data-role="appbar">
            <div class="container">
                <a href="#/" class="app-bar-element branding"><img src="images/logo-white.png" style="height: 58px; display: inline-block; margin-right: 0px; margin-top: -4px;"></a>
                
                <ul class="app-bar-menu" ng-repeat="page in vm.pages">
                    <li data-flexorderorigin="2" data-flexorder="3">
                        <a href="javascript:void(0);" class="" ng-click="vm.selectPage(page)"><span class="{{page.Icon}}"></span> {{page.Title}}</a>
                    </li>
                </ul>

                <span class="app-bar-pull"></span>

                <div class="app-bar-pullbutton automatic" style="display: none;"></div><div class="clearfix" style="width: 0;"></div><nav class="app-bar-pullmenu hidden flexstyle-app-bar-menu" style="display: none;"><ul class="app-bar-pullmenubar hidden app-bar-menu"></ul></nav>
            </div>
        </header>
    </div>

<div class="container page-content">
        

    @RenderBody()

    <popup-show-activities></popup-show-activities>
    <event-sidebar></event-sidebar>


</div>



<div><footer style="background-color: #EFEAE3; margin-top: 58px;">
    <div class="container">

        <div class="align-center padding20 text-small">
            SNSRi 2016
        </div>

<div style="margin: 10px 0; text-align: center">

<noscript>&lt;div&gt;&lt;img src="https://mc.yandex.ru/watch/39874090" style="position:absolute; left:-9999px;" alt="" /&gt;&lt;/div&gt;</noscript>
<!-- /Yandex.Metrika counter -->
</div>
    </div>
</footer>
</div>

@Scripts.Render("~/bundles/admin")



@*Library Scripts*@
<script src="~/Scripts/angular-resource.js"></script>
<script src="~/Scripts/angular-mocks.js"></script>
<script src="~/Scripts/angular-busy.js"></script>
<script src="~/Scripts/jquery.signalR-1.2.2.js"></script>
<script src="signalr/hubs"></script>

<script src="~/app/contracts.js"></script>
<script src="~/app/admin/app-admin.js"></script>
    

@*Services*@
<script src="~/app/services/dataAccessService.js"></script>
<script src="~/app/services/NotificationService.js"></script>
<script src="~/app/services/dataService.js"></script>
<script src="~/app/services/signalRService.js"></script>

@*Controllers*@
<script src="~/app/admin/mainController.js"></script>

@*directives*@
<script src="~/app/directives/eventsSidebar.js"></script>
<script src="~/app/directives/PopupShowActivities.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>