<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SNSRi Admin :: @ViewBag.Title</title>


    @Styles.Render("~/Content/admin")


    <style>
        html, body {
            height: 100%;
        }
        body {
        }
        .page-content {
            padding-top: 3.125rem;
            min-height: 100%;
            
        }
        .table .input-control.checkbox {
            line-height: 1;
            min-height: 0;
            height: auto;
        }


    </style>

</head>
<body class="bg-steel" ng-app="app" ng-controller="MainController">
    <div class="app-bar fixed-top" data-role="appbar">
        <a class="app-bar-element branding" href="/">SNSRi</a>
        <span class="app-bar-divider"></span>

        <div class="app-bar-element place-right">
            <span class="dropdown-toggle"><span class="mif-cog"></span> {{Username}}</span>
            <div class="app-bar-drop-container padding10 place-right no-margin-top block-shadow fg-dark" data-role="dropdown" data-no-close="true" style="width: 220px">

                <ul class="unstyled-list fg-dark">
                    <li><a href="" class="fg-white1 fg-hover-yellow">Sign Out</a></li>
                </ul>
                
            </div>
        </div>
    </div>
<div class="page-content">
    <div class="flex-grid no-responsive-future" style="height: 100%;">
        <div class="row" style="height: 100%">
            <div class="cell size-x200" id="cell-sidebar" style="height: 100%">
                <admin-sidebar></admin-sidebar>
            </div>
            <div class="cell auto-size padding20 bg-white" id="cell-content">
                @RenderBody()
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/admin")
<script>
    function pushMessage(t) {
        var mes = 'Info|Implement independently';
        $.Notify({
            caption: mes.split("|")[0],
            content: mes.split("|")[1],
            type: t
        });
    }

    $(function() {
        $('.sidebar')
            .on('click',
                'li',
                function() {
                    if (!$(this).hasClass('active')) {
                        $('.sidebar li').removeClass('active');
                        $(this).addClass('active');
                    }
                });
    });
</script>


@*Library Scripts*@
<script src="~/Scripts/angular-resource.js"></script>
<script src="~/Scripts/angular-mocks.js"></script>

<script src="~/app/admin/app-admin.js"></script>

@*Services*@
<script src="~/app/services/dataAccessService.js"></script>

@*Controllers*@
<script src="~/app/admin/mainController.js"></script>


@RenderSection("scripts", required: false)
</body>
</html>