@using SNSRi
<!DOCTYPE html>
<html>
<head lang="en">
    <base href="/">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico"/>
    <title>SNSRi | @ViewBag.Title</title>

    
    @Styles.Render("~/Content/main")


</head>
<body style="overflow-y: hidden;" ng-app="app" ng-controller="tilesController">


<div id="start-area" tile-area class="tile-area tile-area-scheme-dark fg-white" style="height: 100%; max-height: 100% !important;">
    <a href="#/" class="app-bar-element branding title-area">
        <img src="images/logo.png" class="start-logo">
    </a>

    <toolbox></toolbox>



    @RenderBody()
</div>

    <event-sidebar></event-sidebar>



    @Scripts.Render("~/bundles/main")



    <script src="~/app/app.js"></script>
    <script>
        var HomeSeerUrl = '@Utility.GetConfig("HomeSeerURL", "http://localhost:8002")';
    </script>

    @*services*@
    <script src="~/app/services/dataService.js"></script>
    <script src="~/app/services/deviceService.js"></script>
    <script src="~/app/services/startScreenService.js"></script>
    <script src="~/app/services/notificationService.js"></script>



    @*controllers*@
    <script src="~/app/controllers/toolboxController.js"></script>
    <script src="~/app/controllers/roomsController.js"></script>
    <script src="~/app/controllers/devicesController.js"></script>
    <script src="~/app/controllers/eventsController.js"></script>
    <script src="~/app/controllers/tilesController.js"></script>



    @*directives*@
    <script src="~/app/directives/eventsSidebar.js"></script>
    @*<script src="~/app/directives/themePicker.js"></script>*@
    <script src="~/app/directives/PopupShowActivities.js"></script>
    <script src="~/app/directives/Toolbox.js"></script>




    @RenderSection("scripts", required: false)

    <popup-show-activities></popup-show-activities>
    <theme-picker></theme-picker>
</body>
</html>